body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f5;
    text-align: center;
    padding-top: 80px;
}

h1 {
    color: #2e7d32;
    font-size: 40px;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    background-color: #ff980050;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #388e3c;
}

#resultat {
    margin-top: 40px;
    font-size: 22px;
    background: white;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
}
